* {
  font-family: 'Aclonica', sans-serif;
}

@media all and (min-width: 420px) {
  html {
    background: url(../img/timer-alpha.png) no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

.work {
  padding-top: 10%;
}

.flex-container {
  margin: 10px;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.flex-item {
  background: red;
  padding: 12px;
  margin: 10px;
  color: #e5e3e3;
  font-weight: bold;
  font-size: 1.6em;
  text-align: center;
}

.time {
  width: 150px;
}

.btn {
  padding:3px;
  width: 50px;
  background: transparent;
  border: none;
}

#run {
  padding: 18px;
  width: 140px;
  background: #e5e3e3;
  color: red;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}
